workingTime = "9:00-21:00"
startDate = "2023-01-01"
endDate = "2023-12-31"
freeDays = "SATURDAY,SUNDAY"
holidays = "01.01,01.07,04.20,05.01,05.25,08.15,11.01,11.11,12.25,12.26"
rooms = "Raf04 (u)-0,Rg07 (u)-0,Raf02 (u)-0,Raf21 (a)-0,Raf06 (a)-0,Raf20 (a)-0,Kolarac2-0,Raf07 (u)-0,Raf05 (u)-0,Kolarac3-0,Raf11 (a)-0,Rg02 (u)-0,Raf03 (u)-0,Raf01 (u)-0,Raf12 (MD)-0,Raf14 (MD)-0,Raf15 (MD)-0,Raf16 (MD)-0,Raf10 (a)-0,Rg01 (u)-0,Rg06 (u)-0,Rg04 (u)-0,Kolarac1-0,Raf13 (MD)-0,Raf09 (a)-0,CET-0,Raf08 (a)-0,Raf19 (a)-0,Raf18 (a)-0"
equipment = "Raf04 (u)-PC-30"
roomData = ""
csvHeader = ON
columns = "START_DATE,END_DATE,SUBJECT,TYPE,PROFESSOR,GROUPS"